//
// variables
// --------------------------------------------------
$red:#FA5850;  //特别强调和突出的文字，按钮，icon
$grey:#333;  //重要以及文字信息，内容标题信息
$link:#477aac; //重要链接文字颜色

$cutome1:#666666; //普通级段落信息、用户名、icon
$cutome2:#888888;  //辅助，次要的文字信息
$cutome3:#999999;  //辅助，次要的文字信息
$cutome4:#b2b2b2;  //辅助，次要的文字信息
$cutome5:#cccccc;  //辅助，次要的文字信息

$white:#f2f4f5;  //内容区域底色
$borderColor:#DADBDD;  //分割线，边框色
$disable:#E7E8EA;   //动态资源底色

$lightGrey:#a0a0a0;
$blue:#3c8cfa;

$deepRed:#b72d26;


$sf:1/37.5rem;

%inline_block{display:inline-block;vertical-align:middle}
%fixed_bottom{position:fixed;bottom:0;left:0;}
%topLeft{position:absolute;top:0;left:0;}
%topRight{position:absolute;top:0;right:0;}
%clearfix{&:after{clear:both;display:block;position:relative;content:'';}}
%center_col{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
%input{padding:0.3rem;font-size:0.4rem;border:1px solid $borderColor;box-sizing:border-box;border-radius:0.1rem;}
// 红色btn
%btn_red{ color:$white;font-size:0.4rem;background-color:$red;font-size:0.4rem;padding:0.3rem 0;}
// 蓝色btn
%btn_blue{color:$white;font-size:0.4rem;background-color:$red;}
//所有的icon大小都为0.4rem

%transition{-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
//控制元素绝对居中
%a_center{display: -webkit-box;-webkit-box-align:center;-webkit-box-pack:center;}
// 同行水平垂直居中
%columnCenter{display: -webkit-box;display: -webkit-flex;display: flex;-webkit-flex-direction:column;flex-direction:column;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center;}
//换行水平垂直居中

%oneline_text{-o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
//两行文字溢出用点显示 
%twoline_text,%threeline_text,%fiveline_text{overflow: hidden;display: -webkit-box;-webkit-box-orient:vertical;}
%twoline_text{-webkit-line-clamp:2;}
%threeline_text{-webkit-line-clamp:3;}
%fiveline_text{-webkit-line-clamp:4;}

//使原生滚动在IOS更好
%scrollIos{overflow: auto;-webkit-overflow-scrolling: touch;overflow-x:hidden}
// 垂直水平居中，配合父级position:realtive;
@mixin transition($t){
    -webkit-transition: all ($t*0.1s) ease 0s;
    -moz-transition: all ($t*0.1s) ease 0s;
    -o-transition: all ($t*0.1s) ease 0s;
    transition: all ($t*0.1s) ease 0s;
}
@mixin square($w){
    height:$w;
    width:$w;
    text-align:center;
    line-height:$w;
}
@mixin text66($height){
    height:$heigth;
    left:20px;
}
@mixin circleIcon($size){display:block;width:$size*$sf;height:($size)*($sf);background-size:100% 100%;}
@mixin icon($width,$height){
    display:inline-block; width: $width;height:$height;background-size:$width  $height;background-repeat:no-repeat;
    background-position:center center;
}
@mixin border-1px($color){
  position:relative;
  &:after{
    display:block;position: absolute;left: 0;bottom: 0;width:100%;border-top:1px solid $color;content:""
  }
}
@mixin bg-image($url){
   background-image:url($url+"@2x.png");
   @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3){
      background-image:url($url+"@3x.png")
   }
  
}

@media(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
  %border-1px{
   &:after{
      -webkit-transform: scaleY(0.7);
     transform: scaleY(0.7);
    }
  }
}
@media(-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
  %border-1px{
    &:after{
     -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
 }
}
